html {
background: -webkit-radial-gradient(rgb(0, 134, 255), rgb(255, 40, 0));
background: radial-gradient(rgb(0, 134, 255), rgb(255, 40, 0));
background: -ms-radial-gradient(rgb(0, 134, 255), rgb(255, 40, 0));
background: -moz-radial-gradient(rgb(0, 134, 255), rgb(255, 40, 0));
background: -o-radial-gradient(rgb(0, 134, 255), rgb(255, 40, 0));
background: -webkit-gradient(rgb(0, 134, 255), rgb(255, 40, 0));
}

body {
  max-width: 90%;
  width:960px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(Z.jpg);
  background-position: bottom right;
  background-size: cover;
  padding: 20px;
}

/* .meow {
  height: 75px;
    box-shadow:inset 0 0 0 1000px rgb(50,50,50);
    border-style: solid;
    border-width: 30px;
    border-style: solid;
    border-width: 15px 16px 15px 15px;

    border-image: url(chat.png) 1 1 1 1 round round fill stretch;
} */

img {
  width:100%;
  max-width:100%;

}

blockquote {
  margin: 80px auto 80px auto;
  width: 50%;
  border-left: 3px solid FireBrick;
  padding: 10px 10px 10px 30px;
  font-size: 1.6em;
  background-color: #c7b7c9;
  font-style: italic;
}

.bien {
  color: rgb(53, 22, 245);
  font-size: 1.2em;
  font-weight:bold;

}

a:link {
    color: #B26322;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #6a6fed;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #1B8E1B;
    background-color: transparent;
    text-decoration: underline overline;
}
a:active {
    color: #B26322;
    background-color: transparent;
    text-decoration: underline;
}

p {
  text-align: justify;
  font-family: "Palatino Linotype";
  margin: 0 0 8px 0;

}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
}

td:hover {
    background-color: #f36f48;
    }

.mal {
  color: rgb(245, 22, 55);
  font-size: 1.2em;
  font-weight:bold;
}

.histoire li {
  list-style-type: none;
  margin: 0 0 15px 0;
  font-style: italic;
}

.villageois {
  border-left: 5px double #1B8E1B;
}

.fermier {
  border-left: 5px groove rgb(245, 22, 55);
}

.figure p {
  margin: 0;
  text-align: left;
  font-size: 1.3em;
  font-style: italic;
  /* fix this shit*/
}

blockquote {
  font-size: 1.1em;
  font-style: italic;
}
