html {
  background: linear-gradient(90deg, rgb(22, 135, 237), rgb(20, 55, 90));
}
body {
  max-width: 90%;
  width:960px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(Z.jpg);
  background-position: bottom right;
  background-size: cover;
}

img {
  width:100%;
  max-width:100%;
}

blockquote {
  margin: 80px auto 80px auto;
  width: 50%;
  border-left: 3px solid FireBrick;
  padding: 10px 10px 10px 30px;
  font-size: 1.6em;
  background-color: #c7b7c9;
}

.bien {
  color: rgb(53, 22, 245);
  font-size: 1.2em;
  font-weight:bold;
}

a:link {
    color: #B26322;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #6a6fed;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #1B8E1B;
    background-color: transparent;
    text-decoration: underline overline;
}
a:active {
    color: #B26322;
    background-color: transparent;
    text-decoration: underline;
}

p {
  text-align: justify;
  font-family: "Palatino Linotype";
  margin: 0 0 8px 0;

}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
}

td:hover {
    background-color: #f36f48;
    }

.mal {
  color: rgb(245, 22, 55);
  font-size: 1.2em;
  font-weight:bold;
}

.histoire li {
  list-style-type: none;
  margin: 0 0 15px 0;
  font-style: italic;

}

.figure p {
  margin: 0;
  text-align: left;
  font-size: 1.3em;
  font-style: italic;
  /* fix this shit*/
}

blockquote {
  font-size: 1.1em;
  font-style: italic;
}
